<%= @user.name %>'s following list
  <ul class="user-list">
    <% @followings.each do |user| %>
       <li>
         <%= link_to gravatar_for(user) , user_path(user.id) %>
         <%= link_to user.name, user_path(user.id) %>
       </li>
    <% end %>
  </ul>