<%= @user.name %>'s follower list
  <ul class="user-list">
    <% @followers.each do |user| %>
        <li>
         <%= link_to gravatar_for(user) , user_path(user.id) %>
         <%= link_to user.name, user_path(user.id) %>
       </li>
    <% end %>
  </ul>
